<h1>Sign Up</h1>

<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<%= render 'fields', :f => f %>

	<div class="actions">
		<%= f.submit "Sign Up" %>
	</div>

<% end %>

<p>Already a user? <%= link_to "Sign in!", signin_path %></p>